---
layout: default
title: "Bid'ah (Innovations in Religion)"
permalink: /en/bidah/
---

{% include breadcrumbs.html %}
<article>
<div class="table-wrapper" itemscope itemtype="https://schema.org/Table">
  <table>
    <tbody>
      {% for post in site.categories.bidah %}
      <tr>
        <td>{{ post.hijri }}</td>
        <td>
          {% if post.url %}<a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a>{% endif %}
        </td>
      </tr>
      {% else %}
       {{site.data.settings.page.no-fatwas}}
      {% endfor %}
    </tbody>
  </table>
</div>
</article>
