{% if page.uid %}
<div class="language-selector">
  <ul class="lang">
  {% assign postsOrPages = site.posts 
    | concat: site.pages 
    | concat: site.ar 
    | where: "uid", page.uid 
    | sort: "locale" %}
  {% for item in postsOrPages %}
  <!-- filter /page/ -->
  {% unless item.url contains '/page/' %} 
  <li><a href="{{ site.baseurl }}{{ item.url }}" class="{{ item.locale }}">
    {{ site.data.locales[item.locale].name }}
  </a>
    </li>
  {% else %}
  <li>
  <a href="{{ site.baseurl }}{{ item.url }}" class="{{ item.locale }} disabled">
    {{ site.data.locales[item.locale].name }}
  </a>
    </li>
  {% endunless %}
  {% endfor %}
  </ul>
</div>
{% endif%}
