@import url(https://fonts.googleapis.com/earlyaccess/notonaskharabic.css);
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
  box-sizing: border-box;
}
ol.breadcrumb {
  padding: 0px 16px 24px;
  list-style: none;
}
ol.breadcrumb li {
  display: inline;
}
ol.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ol.breadcrumb li .active {
  font-weight: bold;
}
ol.breadcrumb li a {
  text-decoration: none;
}
ol.breadcrumb li a:hover {
  text-decoration: underline;
}
ul.lang li {
  display:inline;
  margin-right: 10px;
}
.disabled {
  pointer-events: none;
  cursor:not-allowed;
  cursor: default;
  opacity: 0.6;
}

.ar {
 direction: rtl! important;
 text-align: right! important;
 font-family: 'Noto Naskh Arabic', serif; 
 font-size: 18px;
}
.ar p {
 direction: rtl! important;
 text-align: right! important;
 font-family: 'Noto Naskh Arabic', serif; 
}
.ar h3 {
 font-family: 'Cairo', sans-serif;
}
.ar h1 {
 font-family: 'Cairo', sans-serif;
}
