@import url(https://fonts.googleapis.com/earlyaccess/notonaskharabic.css);
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
  box-sizing: border-box;
}

ul.lang li {
  display:inline;
  margin-right: 10px;
}
.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.ar {
 direction: rtl! important;
 text-align: right! important;
 font-family: 'Noto Naskh Arabic', serif; 
 font-size: 18px;
}
.ar p {
 direction: rtl! important;
 text-align: right! important;
 font-family: 'Noto Naskh Arabic', serif; 
}
.ar h3 {
 font-family: 'Cairo', sans-serif;
}
.ar h1 {
 font-family: 'Cairo', sans-serif;
}
