---
layout: default
---

<article>
{% if page.locale %}
  {% assign posts = site.categories[page.category] | where:"locale", page.locale %}
{% endif %}
{% assign posts = site.categories[page.category] | where:"locale", page.locale %}
{% for post in posts %}
  <li>{{ post.title }}</li>
{% endfor %}

  <ol>
     {% assign site.categories = site.posts | sort: "locale" %}
    {% for p in site.categories[page.category] %}
      <li>
        <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
      </li>
    {% endfor %}
  </ol>
</article>
