---
layout: default
---

<article>
{% for post in site.categories[page.category] %}
 {% if post.locale == 'en' %}
  <li>{{ post.title }}</li>
  {% else %}
  <li>{{ post.title }}</li>
 {% endif %}
{% endfor %}
  <ol>
     {% assign site.categories[page.category] = site.posts | where: "locale", page.locale | sort: "locale" %}
    {% for p in site.categories[page.category] %}
      <li>
        <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
      </li>
    {% endfor %}
  </ol>
</article>
