---
layout: default
---

<article>
<div class="box">
<h2><a href="/bidah">Bid'ahs</a></h2>
<ul class="posts">
  {% for post in site.categories.bidah | limit:3 %}
    {% if post.url %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% else %}
    {{site.data.settings.page.no-fatwas}}
  {% endfor %}
</ul>
</div>

<div class="box">
  <h2><a href="/walabara">Al-Wala Wal-Bara'</a></h2>
<ul class="posts">
  {% for post in site.categories.walabara | limit:3 %}
    {% if post.url %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% else %}
    {{site.data.settings.page.no-fatwas}}
  {% endfor %}
</ul>
</div>
</article>
