---
layout: default
---

<article>
<ul class="post-list">
{% for c in site.categories | limit:3 %}
  {% assign selectedPosts = c.last | where:"locale", "en" %}
  {% if selectedPosts.size > 0 %}
  <div class="box">
    <li><a href="{{ site.baseurl }}/category/{{ c.first }}">
      <b>{{ c.first | capitalize }}</b>
      </a> :
      <ul>
        {% for post in selectedPosts %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </div>
  {% endif %}
{% endfor %}

{% for c in site.categories | limit:3 %}
  {% assign selectedPosts = c.last | where:"locale", "ar" %}
  {% if selectedPosts.size > 0 %}
  <div class="box">
    <li><a href="{{ site.baseurl }}/category/{{ c.first }}">
      <b>{{ c.first | capitalize }}</b>
      </a> :
      <ul>
        {% for post in selectedPosts %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </div>
  {% endif %}
{% endfor %}
</ul>
  
</article>
