---
layout: default
---

{% if page.date %}
<article class="post {{ page.locale }}" itemscope itemtype="http://schema.org/BlogPosting">

<header class="major">
 <meta content='{{ post.date | date_to_xmlschema }}' itemprop='dateModified'/>
 <span class="date">
  {% if site.date %}
   <meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}">
  {% endif %}
  {% include date.html %}
 </span>
  <h3 itemprop="name headline">{{ page.title }}</h3>
</header>
 
  <div itemprop="articleBody" {% if page.locale == 'ar' %}style="dir: rtl !important; font-size: 18px;"{% endif %}>
  {{ content }}
{% if page.end %}
 {{ site.data.locales[page.locale].post.end }}
{% endif %}
  </div>
 
  {% include page-footer.html %}

</article>
{% endif %}
